{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
	Decision task 2.2
{% endblock %}

{% block content %}

      <ul>
      <li> Citizens from group A earn <strong>75 points</strong> upon completion of the typing task
      <li> Citizens from group B earn <strong>25 points</strong> upon completion of the typing task
      </ul>

    <p>
        Please answer the following questions:
    </p>

    {% formfield player.ref_belief_seq_hl_A label="What percentage of their common account do you believe that citizens from <strong>group A</strong> will share with you?" %}
    {% formfield player.ref_belief_seq_hl_B_0 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A have shared between 0 percent and 5 percent</strong> of their common account?" %}
    {% formfield player.ref_belief_seq_hl_B_5 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A have shared between 5 percent and 10 percent</strong> of their common account?" %}
    {% formfield player.ref_belief_seq_hl_B_10 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A have shared between 10 percent and 15 percent</strong> of their common account?" %}
    {% formfield player.ref_belief_seq_hl_B_15 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A have shared between 15 percent and 20 percent</strong> of their common account?" %}
    
   	 <button id="button_id" class="btn btn-primary btn-large">
				 Next
	 </button>
    
{% endblock %}
