{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
	Decision task 2.2
{% endblock %}

{% block content %}

      <ul>
      <li> Citizens from group A earn <strong>25 points</strong> upon completion of the typing task
      <li> Citizens from group B earn <strong>75 points</strong> upon completion of the typing task
      </ul>

    <p>
        Please answer the following questions:
    </p>

    {% formfield player.ref_belief_seq_lh_A label="What percentage of their common account do you believe that citizens from <strong>group A</strong> will share with you?" %}
    {% formfield player.ref_belief_seq_lh_B_0 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A gave 0% to 5%</strong> of their common account?" %}
    {% formfield player.ref_belief_seq_lh_B_5 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A gave 6% to 10%</strong> of their common account?" %}
    {% formfield player.ref_belief_seq_lh_B_10 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A gave 11% to 15%</strong> of their common account?" %}
    {% formfield player.ref_belief_seq_lh_B_15 label="What percentage of their common account do you believe that citizens from <strong>group B</strong> will share with you <strong>if citizens from group A gave 16% to 20%</strong> of their common account?" %}

   	 <button id="button_id" class="btn btn-primary btn-large">
				 Next
	 </button>
    
{% endblock %}
