{% extends "global/Page.html" %}
{% load otree %}
{% load otree static %}

{% block title %}
Overview
{% endblock %}

{% block content %}
<body onload="myFunction()">
	<div style="display:none" id="div2">
		<p><strong><u>Welcome</u></strong></p>
		<p> Thank you for your interest in this decision-making study. The study is carried out by Milan Van Steenvoort (Maastricht University). </p>
		<p> Before you begin, please read the following instructions carefully! </p>

		<p><strong><u>Procedure</u></strong></p>
		<p> The study consists of several parts in which you will make decisions about the distribution of money between you and other participants. Please conduct the study <u> without breaks </u> and avoid disruptions or interruptions while processing this study. You can cancel your participation at any time and without giving a reason by closing the browser window. In this case you lose the right to compensation. The data generated up to this point will be deleted. </p>
		<p> This study takes between <strong> and minutes </strong> and consists of <strong> 3 parts </strong>: </p>
		<ul>
		<li>Decision task 1</li>
		<li>Decision task 2 </li>
		<li>Questionnaire</li>
		</ul>
		<p><strong><u>Payment</u></strong></p>
		<ul>
		<li><strong>Basic compensation</strong>
		<ul>
		<li>X Euro</li>
		</ul>
		</li>
		<li><strong>Bonus remuneration</strong>
		<ul>
		<li> During the study you can collect points from which your bonus payment is calculated. The exact amount of your bonus payment depends on the experimental group to which you were randomly assigned, on your own decisions and also on the decisions of the other participants (see information during the study). After all participants have completed the study, the participants are randomly assigned to each other and the total number of points for all participants is calculated. The total number of points you achieved during the experiment will be converted into euros, whereby the following conversion rate applies: x points = y euros. The bonus payment will be a minimum of w euros and a maximum of z euros.
		</li>
		</ul>
		</li>
		</ul>
		<li><strong>Payment amount</strong></li>
		<ul>	
		<li> Your final payment amount, which will be a minimum of w euros and a maximum of z euros, will only be communicated to you as part of the transfer.The payment will be executed through Prolific. </li>
		</ul>
		<p>&nbsp;</p>
		<p> <strong> Warning: </strong> Please do not click on "Back" or "Refresh" in your browser, as this can lead to data loss. We also ask you not to conduct the study with a smartphone or tablet. Thank you for your understanding! </p>

		 
	<p> Please click "Next" to begin the study. </p>

	<button id="button_id" class="btn btn-primary btn-large"> Next</button>
	</div>
		<noscript>
			<H1> <p> JavaScript is not activated. To participate in this study, JavaScript must be activated. </p> </H1>
		</noscript>
</body>
{% endblock %}
{% block scripts %}

	<script src="{% static "Intro/js/jscheck.js" %}"></script>
	
{% endblock %}